
<aside class="sidebar">
      <div>
            <img src="assets/logo.svg" alt="logo">
      </div>
      <div class="d-flex flex-column menu-container">
            <img src="assets/product-icon.svg" alt="logo">
            <img src="assets/sales-icon.svg" alt="logo">
            <img src="assets/customer-icon.svg" alt="logo">
            <img src="assets/service-icon.svg" alt="logo">
            <img src="assets/reports-icon.svg" alt="logo">
            <img src="assets/logout-icon.svg" alt="logo">
      </div>
</aside>
